.main-page
  .page-header
    .page-header_wrapper
      .hero-container
        .hero-large
          .hero-large--post
            a(href='#')
              img.img-large(src='images/world.gif' alt='world')
          .hero-large--content
            .wrap
              .hero-titleClamp
                a(href='#')
                  h3 How Companies Thrive By Making You Obsessed
                a(href='#')
                  .ui-summary.ui-clamp3 Customer service is still&nbsp;king
              .hero-byline
                .hero-metaline
                  a.ds-link Tiffani Bova
                .ui-caption
                  span.u-noWrap(data-tooltip='Updated Aug 15')
                    time.u-inlineBlock.u-lineHeightBase Aug 15
                    span.middotDivider
                    span.u-paddingRight0p3em
                      span.svgIcon.svgIcon--star.svgIcon--15px
                        img.star(src='images/star.svg' alt='star')
                    span.readingTime(title='7 min read')
        .hero-small
          .hero-small--1.flex-top
            .hero-small--post
              a(href='#')
                img.img-small(src='images/entre1.jpg' alt='world')
            .hero-small--content.flex-between
              .hero-titleClamp_small
                a(href='#')
                  h4 The History of Civilization Is a History of Border Walls
              .hero-byline
                .hero-metaline
                  a.ds-link(href='#' data-action='show-user-card' data-action-value='8b9675573f7d' data-action-type='hover' data-user-id='8b9675573f7d' dir='auto') David Frye
                  |                 in 
                  a.ds-link(href='#') Great Escape
                .ui-caption
                  span.u-noWrap(data-tooltip='Updated Aug 15')
                    time.u-inlineBlock.u-lineHeightBase Aug 13
                    span.middotDivider
                    span.u-paddingRight0p3em
                      span.svgIcon.svgIcon--star.svgIcon--15px
                        img.star(src='images/star.svg' alt='star')
                    span.readingTime(title='10 min read')
          .hero-small--2.flex-top
            .hero-small--post
              a(href='#')
                img.img-small(src='images/entre1.jpg' alt='world')
            .hero-small--content.flex-between
              .hero-titleClamp_small
                a(href='#')
                  h4 The History of Civilization Is a History of Border Walls
              .hero-byline
                .hero-metaline
                  a.ds-link(href='#' data-action='show-user-card' data-action-value='8b9675573f7d' data-action-type='hover' data-user-id='8b9675573f7d' dir='auto') David Frye
                  |                 in 
                  a.ds-link(href='#') Great Escape
                .ui-caption
                  span.u-noWrap(data-tooltip='Updated Aug 15')
                    time.u-inlineBlock.u-lineHeightBase Aug 13
                    span.middotDivider
                    span.u-paddingRight0p3em
                      span.svgIcon.svgIcon--star.svgIcon--15px
                        img.star(src='images/star.svg' alt='star')
                    span.readingTime(title='10 min read')
          .hero-small--3.flex-top
            .hero-small--post
              a(href='#')
                img.img-small(src='images/entre1.jpg' alt='world')
            .hero-small--content.flex-between
              .hero-titleClamp_small
                a(href='#')
                  h4 The History of Civilization Is a History of Border Walls
              .hero-byline
                .hero-metaline
                  a.ds-link(href='' data-action='show-user-card' data-action-value='8b9675573f7d' data-action-type='hover' data-user-id='8b9675573f7d' dir='auto') David Frye
                  |                 in 
                  a.ds-link(href='#') Great Escape
                .ui-caption
                  span.u-noWrap(data-tooltip='Updated Aug 15')
                    time.u-inlineBlock.u-lineHeightBase Aug 13
                    span.middotDivider
                    span.u-paddingRight0p3em
                      span.svgIcon.svgIcon--star.svgIcon--15px
                        img.star(src='images/star.svg' alt='star')
                    span.readingTime(title='10 min read')
        .hero-medium
          .hero-medium--post
            a(href='#')
              img.img-medium(src='images/people.jpeg' alt='man')
          .hero-medium--content
            .hero-titleClamp
              a(href='#')
                h3 Dear Journalists, The War on What You Do Is Escalating
              a(href='#')
                .ui-summary.ui-clamp3 Customer service is still&nbsp;king
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
      .uiScale-caption--small.container
        a(href="#") SEE ALL FEATURED
          img(src="images/ic-arrow.svg" alt="arrow")
      .hero-divider
  .page-wrap.container
    .wrap-left
      .wrap-content
        .wrap-content--title Welcome to Medium, where words matter.
        .wrap-content--sub.margin-bot40 We’ll deliver the best stories and ideas on the topics you care about most straight to your homepage, app, or inbox.
      .wrap-button
        button.button-get Get started
        button.button-learn Learn more
    .wrap-right
  //- page-body
  .page-body.container.container-nopadding
    .body--content.container8col
      //- header1
      .stream-item.margin-bot20
        header.stream-header.border-bot-lighter
          span.heading--title.border-bot 
            a.link-title(href="#") Featured for members
          a.heading--more(href="#")
            span.more--word.text-color-normal MORE
            img(src="images/ic-arrow-gray.svg")
      //- content-component
      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")
      
      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")
      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature4.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature2.jpg")

      //- header2
      .stream-item.margin-bot20
        header.stream-header.border-bot-lighter
          span.heading--title.border-bot 
            a.link-title(href="#") Technology
          a.heading--more(href="#")
            span.more--word.text-color-normal MORE
            img(src="images/ic-arrow-gray.svg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")
      //- header3
      .stream-item.margin-bot20
        header.stream-header.border-bot-lighter
          span.heading--title.border-bot 
            a.link-title(href="#") Creativity
          a.heading--more(href="#")
            span.more--word.text-color-normal MORE
            img(src="images/ic-arrow-gray.svg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")
      //- header4
      .stream-item.margin-bot20
        header.stream-header.border-bot-lighter
          span.heading--title.border-bot 
            a.link-title(href="#") Entrepreneurship
          a.heading--more(href="#")
            span.more--word.text-color-normal MORE
            img(src="images/ic-arrow-gray.svg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/entre1.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/entre4.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/entre1.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/feature3.jpg")
      //- header5
      .stream-item.margin-bot20
        header.stream-header.border-bot-lighter
          span.heading--title.border-bot 
            a.link-title(href="#") Culture
          a.heading--more(href="#")
            span.more--word.text-color-normal MORE
            img(src="images/ic-arrow-gray.svg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/culture4.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/culture3.jpg")

      .div-content
        .content-left
          .hero-titleClamp
            a(href='#')
              h3 The Internet Is Not Ruining Grammar
            a(href='#')
              .ui-summary.ui-clamp3 Customer service is still&nbsp;king
          .content-wrap-byline
            .hero-byline
              .hero-metaline
                a.ds-link Tiffani Bova
              .ui-caption
                span.u-noWrap(data-tooltip='Updated Aug 15')
                  time.u-inlineBlock.u-lineHeightBase Aug 15
                  span.middotDivider
                  span.u-paddingRight0p3em
                    span.svgIcon.svgIcon--star.svgIcon--15px
                      img.star(src='images/star.svg' alt='star')
                  span.readingTime(title='7 min read')
                  img.img-down(src="images/ic-arrow-down-gray.svg" alt="report story")
            .hero-flag
              a(href="#")
                img.img-flag(src="images/ic-flag.svg")
        .content-right
          img.img-content(src="images/culture1.jpg")
    .body--sidebar.container4col
      #wrapper-sidebar.wrapper-sidebar
        .sidebar
          .sidebar--title 
            h3 Popular on Medium
          .sidebar--content.margin-bot40
            ol
              li.flex-top
                .number 01
                .hero-small--content.flex-between.list-content
                  .hero-titleClamp_small
                    a(href='#')
                      h4 The History of Civilization Is a History of Border Walls
                  .hero-byline
                    .hero-metaline
                      a.ds-link(href='#' data-action='show-user-card' data-action-value='8b9675573f7d' data-action-type='hover' data-user-id='8b9675573f7d' dir='auto') David Frye
                      |                 in 
                      a.ds-link(href='#') Great Escape
                    .ui-caption
                      span.u-noWrap(data-tooltip='Updated Aug 15')
                        time.u-inlineBlock.u-lineHeightBase Aug 13
                        span.middotDivider
                        span.readingTime(title='10 min read')
              li.flex-top
                .number 02
                .hero-small--content.flex-between.list-content
                  .hero-titleClamp_small
                    a(href='#')
                      h4 The History of Civilization Is a History of Border Walls
                  .hero-byline
                    .hero-metaline
                      a.ds-link(href='#' data-action='show-user-card' data-action-value='8b9675573f7d' data-action-type='hover' data-user-id='8b9675573f7d' dir='auto') David Frye
                      |                 in 
                      a.ds-link(href='#') Great Escape
                    .ui-caption
                      span.u-noWrap(data-tooltip='Updated Aug 15')
                        time.u-inlineBlock.u-lineHeightBase Aug 13
                        span.middotDivider
                        span.readingTime(title='10 min read')
              li.flex-top
                .number 03
                .hero-small--content.flex-between.list-content
                  .hero-titleClamp_small
                    a(href='#')
                      h4 The History of Civilization Is a History of Border Walls
                  .hero-byline
                    .hero-metaline
                      a.ds-link(href='#' data-action='show-user-card' data-action-value='8b9675573f7d' data-action-type='hover' data-user-id='8b9675573f7d' dir='auto') David Frye
                      |                 in 
                      a.ds-link(href='#') Great Escape
                    .ui-caption
                      span.u-noWrap(data-tooltip='Updated Aug 15')
                        time.u-inlineBlock.u-lineHeightBase Aug 13
                        span.middotDivider
                        span.readingTime(title='10 min read')
              li.flex-top
                .number 04
                .hero-small--content.flex-between.list-content
                  .hero-titleClamp_small
                    a(href='#')
                      h4 The History of Civilization Is a History of Border Walls
                  .hero-byline
                    .hero-metaline
                      a.ds-link(href='#' data-action='show-user-card' data-action-value='8b9675573f7d' data-action-type='hover' data-user-id='8b9675573f7d' dir='auto') David Frye
                      |                 in 
                      a.ds-link(href='#') Great Escape
                    .ui-caption
                      span.u-noWrap(data-tooltip='Updated Aug 15')
                        time.u-inlineBlock.u-lineHeightBase Aug 13
                        span.middotDivider
                        span.readingTime(title='10 min read')
        .sidebar_bottom
          .js-sidebar
            footer
              .flex-list
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") Help
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") Status
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") Writes
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") Blog
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") Careers
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") Privacy
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") Terms
                a.link.text-color-normal(href="#" title="Visit Medium’s help center" aria-label="Visit Medium’s help center") About
