nav.nav.container
  .nav--top
    .nav--top--left
      a(href='#')
        p.content-p Become a member
    .nav--top--logo
      a(href='#')
        img.img-logo(src='images/ic-logo.svg' alt='logo-medium')
    .nav--top--right
      .ic-find
        a(href='#')
          img(src='images/ic-find.svg' alt='find')
      .sign-in
        a(href='#')
          p.nav-p-green Sign in
      .get-started
        a(href='#')
          p.nav-p-green.border-green Get started
#nav--bottom.nav--bottom
  .nav--bottom_wrap.container
    //- div.change-nav
    //-   button.button-reset(data-action="scroll-carousel" data-action-value="-1")
    //-     img.img-arrow(src="images/ic-arrow-left.svg", alt="previous")
    ul.nav-list.list-reset
      li
        a.nav-link(href='#' style='color:#000;')
          p HOME
      li
        a.nav-link(href='#')
          p(style='white-space: nowrap;') GREAT ESCAPE
      li
        a.nav-link(href='#')
          p CULTURE
      li
        a.nav-link(href='#')
          p TECH
      li
        a.nav-link(href='#')
          p ENTREPRENEURHIP
      li
        a.nav-link(href='#')
          p SELF
      li
        a.nav-link(href='#')
          p POLITICS
      li
        a.nav-link(href='#')
          p DESIGN
      li
        a.nav-link(href='#')
          p SCIENCE
      li
        a.nav-link(href='#')
          p POPULAR
      li
        a.nav-link(href='#')
          p MORE
    //- div.change-nav
    //-   button.button-reset(data-action="scroll-carousel" data-action-value="+1")
    //-     img.img-arrow(src="images/ic-arrow-right.svg", alt="next")



