// main-page
.main-page{
	.page-header{
		.hero-container{
			width: 100%;
		  max-width: 1200px;
		  display: flex;
		  justify-content: center;
		  position: relative;
		  margin: 12px auto 0 auto;
		  padding: 0 16px 16px 16px;
		  @media only screen and (max-width: $break-sm){
					display:flex;
					flex-direction: column;
				}
			.hero-large{
				margin-right:24px;
				@media only screen and (max-width: $break-sm){
					margin-right: 0 !important;
				}
				@media only screen and (max-width: $break-l){
					flex:1;
				}
				.hero-large--post{
					.img-large{
						height: 150px;
					  margin-bottom: 16px;
					  background-position: 52% 51% !important;
					  background-size: cover;
					  max-width: 680px;
    				width: 100%;
					}
				}
				.hero-large--content{
					margin-left: 88px;
					@media only screen and (max-width: $break-l){
						margin-left: 0;
						margin-bottom: 40px;
					}
				}
			}
			.hero-small{
				margin-right:24px;
				@media only screen and (max-width: $break-l){
					margin-right: 0;
					flex: 1;
				}
				.img-small{
					width: 100px;
					height: 100px;
					margin-right: 24px;
				}
				.hero-small--1, .hero-small--2{
					margin-bottom: 24px;
				}
			}
			.hero-medium{
				@media only screen and (max-width: $break-l){
					display: none;
				}
				.hero-medium--post{
					img{
						height: 150px;
						margin-bottom: 16px;
					}
				}
				.hero-medium--content{
					margin-right:88px;
					h3{
						font-size: 24px;
					}
				}
			}
		}
		.uiScale-caption--small{
			display:flex;
			justify-content: flex-end;
			padding-right: 0 !important;
			@media only screen and (max-width: $break-l){
				justify-content: flex-start;
			}
			a{
			color: #03a87c!important;
			font-weight: 400;
			font-size: 15px;
			line-height: 20px;
			display: flex;
			}
		}
		.hero-divider{
			border-bottom: 1px solid rgba(0,0,0,.15);
	    max-width: 1000px;
	    margin: 24px auto;
		}
	}
	// page-hero
	.page-wrap{
		background-color: #E8F3EC;
		margin-top: 40px;
		display:flex;
		padding-left:0 !important;
		padding-right:0 !important;
		.wrap-left{
			padding: 40px;
			flex:1;
			.wrap-content{
				.wrap-content--title{
					font-family: "fontnoe", "sans-serif" !important;
					font-weight:600 !important;
					font-size: 42px;
					line-height: 48px;
					margin-bottom: 8px;
				}
				.wrap-content--sub{
					font-size: 19px;
					line-height: 24px;
				}
			}
			.wrap-button{
				button{
					border: solid 1px rgba(0,0,0,.84);
					border-radius: 4px;
					vertical-align: middle;
					background-color: initial;
					cursor: pointer;
					padding:8px 16px;
				}
				.button-get{
					color: white;
					background: $dark ;
					margin-right: 8px;
					&:hover{
						background: #1C9963;
						border-color: #1C9963;
					}
				}
				.button-learn{
					color: rgba(0,0,0,.68);
					border-color: rgba(0,0,0,.68);
					&:hover{
						border-color: #1C9963;
					}
				}
			}
		}
		.wrap-right{
			flex:1;
			background-image: url("../../images/background.png");
			background-size: contain;
	    background-position: bottom right;
	    background-repeat: no-repeat;
	    @media only screen and (max-width: $break-s){
				display: none;
			}
		}
	}
	// page-body
	.page-body{
		margin-top:48px;
    display: -webkit-box;
    display: flex;
    @media only screen and (max-width: $break-l){
		  padding-right: 16px !important;
		  padding-left: 16px !important;
		}
		.container8col{
			max-width: 680px;
			padding-right: 24px;
			width: 100%;
			@media only screen and (max-width: $break-m){
			  padding-right: 0 !important;
			}
			.stream-item{
				header.stream-header{
					display: flex;
					justify-content: space-between;
					.heading--title{
						font-weight: 600;
						line-height: 1.2;
						font-size: 20px;
						padding-bottom: 20px;
						margin-bottom: -1px !important;
						.link-title{
							color: rgba(0,0,0,.84);
						}
					}
					.border-bot{
						border-bottom: 1px solid $font-gray !important;
					}
					.heading--more{
						display:flex; 
						align-items: center;
					}
				}	
			}
			.div-content{
				display:flex;
				justify-content: space-between;
				// max-width: 680px;
				width: 100%;
				margin-bottom: 48px;
				.content-left{
					width:100%;
					margin-right:24px;
					display: flex;
			    flex-direction: column;
			    justify-content: space-between;
					.content-wrap-byline{
						display:flex;
						justify-content: space-between;
						align-items: center;
						.hero-byline{
							.img-down{
								margin-left: 4px;
							}
						}
						.hero-flag{
							.img-down{
								&:hover{
									fill: $dark;
								}
							}
						}
					}
				}
				.content-right{
					img{
						background-position: 50% 50% !important;
						background-origin: border-box!important;
    				background-size: cover!important;
    				height: 100%;
    				width: 100%;
    				@media only screen and (max-width: $break-s){
							width: 80px;
							height: 80px;
						}		
					}
				}
			}
		}
		.body--sidebar{
			flex: 0 0 auto;
			@media only screen and (max-width: $break-m){
				display: none;
			}
			.wrapper-sidebar{
				width: 328px;
				.sidebar{
					transform: translate3d(0px, 50px, 0px);
					.sidebar--title{
						border-bottom: 1px solid rgba(0,0,0,.15)!important;
						padding-bottom: 16px;
						margin: 32px 32px 0 32px;
					}
					.sidebar--content{
						ol{
							padding:32px;
							li{
								margin-bottom: 24px;
								.number{
									margin-top: -4px;
									font-size: 34px;
									color: rgba(0,0,0,.15) !important;
								}
								.list-content{
									min-width: 200px!important;
									margin-left: 16px!important;
								}
							}
						}
					}
				}
			}
			.sidebar_bottom{
				.js-sidebar{
					footer{
						padding: 0 20px;
						.flex-list{
							border-top: 1px solid rgba(0,0,0,.1)!important;
							padding-top: 20px;
							display: flex;
    					flex-wrap: wrap;
    					a{
    						font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif !important;
    						margin-right: 16px;
    						&:hover{
    							text-decoration: underline;
    						}
    					}
						}
					}
				}
			}
		}
	}
}