// nav
.nav{
	.nav--top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 65px;
		.nav--top--left{
			@media only screen and (max-width: $break-sm){
					display:none;
				}
		}
		.nav--top--logo{
			.img-logo{
				width: 138px;
			}
		}
		.nav--top--right{
			display: flex;
			align-items: center;
			.ic-find, .sign-in{
				margin-right: 16px;
			}
			.sign-in{
				p{
					@media only screen and (max-width: $break-sm){
						display:none;
					}
				}
			}
			.ic-find{
				padding-top:10px;
				@media only screen and (max-width: $break-sm){
					margin-right: 0 !important;
				}
			}
			.nav-p-green{
				color: #03a87c;
				white-space: nowrap;
			}
			.border-green{
				border: solid 1px #03a87c ;
				padding: 0 16px;
				border-radius: 4px;
				line-height: 37px;
			}
		}
	}
}
.nav--bottom{
	background: $light;
	z-index: 100;
	.nav--bottom_wrap{
		ul.nav-list{
			display: inline-flex;
			margin:  0;
			width: 100%;
			overflow: hidden;
			align-items: center;
			li{
				margin-right: 24px;
				line-height: 20px;
				a.nav-link{
					font-size: 15px;
					color: $font-gray;
					p {
						leter-spacing: 0.75px;
					}
				}
			}
		}
	}
}
