meta(charset='UTF-8')
title Medium
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='Personal Website')
meta(name='author', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
link(rel='apple-touch-icon', href='images/favicon.ico')
link(rel='stylesheet', type='text/css', href='css/criticalCSS.css')
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
style
// build:css css/styles.min.css
link(rel='stylesheet', type='text/css', href='css/styles.css')
// endbuild
