// build:js js/main.min.js async
script(type='text/javascript', src='js/plugins/tiny-slider.min.js')
script(type='text/javascript', src='js/plugins/in-view.min.js')
script(type='text/javascript', src='js/plugins/jquery.min.js')
script(type='text/javascript', src='js/plugins/slick.min.js')
script(type='text/javascript', async, src='js/main.js')
// endbuild
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>