* {
  outline: none !important;
  box-sizing: border-box !important;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: $font-body;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-bold;
  font-size: 3.5rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  width: auto;
  // max-width: 100%;
}

p {
  // margin: 0 0 1rem 0;
  font-weight: $font-weight-regular;
}

a {
  text-decoration: none;
}
.container{
  max-width: 1000px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.content-p{
  letter-spacing: 0;
  line-height: 20px;
  color: $font-gray;
  fill: $font-gray;
}
.readingTime:after {
  content: attr(title);
}
.flex-top{
  display: flex;
}
h3{
  font-family: $font-body;
  font-weight: 600;
  color: #000;
  font-size:  24px;
  margin: 0 0 4px 0;
}
.ui-summary{
  font-weight:400;
  letter-spacing: 0;
  line-height: 20px;
  color: $font-gray !important;
}
.ds-link{
  color: rgba(0,0,0,.84)!important;
  &:hover{
    text-decoration: underline;
  }
}
.ui-caption{
  color: $font-gray!important;
  white-space: nowrap;
}
.margin-bot40{
  margin-bottom: 40px;
}
.middotDivider:after {
    content: '\00B7';
}
.margin-bot20{
  margin-bottom: 20px;
}
.middotDivider{
  padding-left: .3em !important;
  padding-right: .3em !important;
}
.star{
  vertical-align: middle;
}
.u-paddingRight0p3em{
  padding-right: .3em;
}
.border-bot-lighter{
  border-bottom: 1px solid rgba(0,0,0,.15)!important;
}
.text-color-normal{
  color: $font-gray!important;
  fill: $font-gray!important;
}
h4{
  font-size: 18px;
  letter-spacing: -.17px;
  line-height: 20px;
  color: $dark;
}
.flex-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container4col{
  width: 328px;
}
.container-nopadding{
  padding-left: 0;
  padding-right: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  background: $light;
}
.sticky_sidebar{
  position: fixed;
  top: 0;
  background: $light;
}
