/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary-color:                 #1f3971;
$light:                         #fff;
$gray-light:                    #f8f8f8;
$gray:                          #b9b9b9;
$gray-dark:                     #707070;
$dark:                          #1d1d1d;
$font-gray:						rgba(0, 0, 0, 0.54);	


/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-roboto:                   'Roboto';
$font-pt-serif:                 'PT Serif';
$font-noe:						'medium-marketing-display-font';
$font-marat-sans:				'medium-content-sans-serif-font';

$font-body:                     $font-marat-sans,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
$font-title:                    $font-noe, sans-serif;


/* Width page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$width-page:                    116.8rem;


/* Breakpoint
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$break-l:                       1100px; //1000px
$break-m:                       856px; //992px
$break-sm:                      768px; //768px
$break-s:                       504px; //480px


/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-light:             300;
$font-weight-regular:           400;
$font-weight-semi-bold:         600;
$font-weight-bold:              700;
$font-weight-default:           $font-weight-regular;


/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-default:             1.6rem;


/* Gutter
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$gutter:                        1.5rem;


/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1:                        cubic-bezier(0.19, 1, 0.22, 1);
$cubic2:                        cubic-bezier(.48, .48, .57, .57);
$cubic3:                        cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4:                        cubic-bezier(0.4, 0, 0.2, 1);
